<section class="Footer">

    <div class="bg-img">
     <div class="quote">
         <q class="qq">Surround yourself with <span>pizza</span>, not negativity.</q>
     </div>
     <div class="f-cont">
 
         <div class="ast-cont">
             <div class="below-cont">
             <div class="about">
                 <h1>Presto!</h1>
                 <p>You want the best pizza to be cooked to a crisp. The cheese should be melted, the crust should have some crunch to it, the toppings should be well-cooked and the whole thing should be served piping hot. In the end, what makes a perfect pizza perfect is really up to you.</p>
             </div>
 
             <div class="social">
                 <div class="insta ss">
                     <a href="#"><i class="fab fa-instagram  icon"></i></a>
                 </div>
                 <div class=" twit ss">
                     <a href="#"><i class="fab fa-twitter icon"></i></a>
                 </div>
                 <div class="ss fb ">
                     <a href="#"><i class="fab fa-facebook-f icon"></i></a>
                 </div>
                 <div class="ss wa">
                     <a href="#"><i class="fab fa-whatsapp  icon"></i></a>
                 </div>
             </div>
         </div>
 
             <div class="table">
                 <div class="tablecont">
                 <div class="menus tt">
                     <ul>
                         <h4>MENU</h4>
                         <li>Veg Pizza</li>
                         <li>Chicken Pizza</li>
                         <li>Pasta</li>
                         <li>Pizza Crust</li>
                         <li>Pizza Mania</li>
                         <li>Burger Pizza</li>
                     </ul>
                 </div>
                 <div class="Rest tt">
                     <ul>
                         <h4>LOCATIONS</h4>
                         <li>Mumbai</li>
                         <li>Pune</li>
                         <li>Hyderabad</li>
                         <li>New Delhi</li>
                         <li>Jharkhand</li>
                         <li>Uttar Pradesh</li>
                         <li>Kolkata</li>
                     </ul>
                 </div>
                 <div class="legal tt">
                     <ul>
                         <h4>LEGAL</h4>
                         <li>Disclaimer</li>
                         <li>Terms & Conditions</li>
                         <li>Privacy Policy</li>
                         <li>FAQ</li>
                     </ul>
                 </div>
             </div>
         </div>
         </div>
 
         <div class="foot-nav">
             <nav>
                 <ul>
                     <li><a routerLink="/">Home</a></li>
                     <li><a routerLink="menu">Menu</a></li>
                     <li><a routerLink="about">About</a></li>
                     <li><a routerLink="shop">Shop</a></li>
                     <li><a routerLink="blog">Blog</a></li>
                     <li><a routerLink="contact">Contact</a></li>
                 </ul>
             </nav>
     </div>
 
     </div>
 
    
    </div>
 </section>
