.about{
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}
.abt-cont{
    width: 70%;
    margin-bottom: 20vh;
}
.in-content{
    text-align: justify;
}

.hed-txt{
    text-align: center;
}

.para1{
    margin-top: 5vh;
}
