<ng-container *ngIf="Product.length !=0">
    <div class="cont">
        <div class="card-table">
            <div class="card-items">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Pizza</th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Product; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.foodname}}</td>
                        <td>{{item.serves}}"</td>
                        <td>{{item.price}}</td>
                        <td>{{item.total}}</td>
                        <td>
                            <div class="action-btn">
                                <button (click)="removeitem(item)" class="del btn
                                " title="Delete Item"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td>Grand Total: ${{grandTotal}}</td>
                        <td><button class="btn btn-danger" (click)="emptycart()">Empty Cart</button>
                        <button class="btn btn-primary" routerLink="/">Shop More</button>
                        <button class="btn btn-dark">Order</button></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>     
    </div>
</ng-container>

<ng-container *ngIf="Product.length == 0">
    <div class="cont">

        <div class="outbox">
            <div class="text">
                <h3>My Cart</h3>
            </div>
    
            <div class="imeg">
                <img src="assets/images/emptycart.jpg" alt="Empty Cart" class="cart-girl">
            </div>
    
            <div class="title-btn">
                <div class="tb-cont">
                    <p class="title-1">Your cart is empty!</p>
                    <p class="add-some">Add some pizzas now!!</p>
                    <button routerLink="/menu" class="btn btn-primary">Order Now</button>
                </div>
            </div>
        </div>
    
    </div>
</ng-container>